body
{
  overflow-x: hidden;
  font-family: sans-serif;
  
}


.header-text
{
  margin-top: 20%;
  margin-left: 16%;
  position:absolute;
  z-index: 0;
  
}


.navbar
{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/bg1.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100vh;
  position:absolute;
  /* position: relative; */
}
.header-nav
{
  display: flex;
  margin-bottom: 43%;
}


.card-1,.card-2,.card-3 ,.card-4
{
  border: 10px solid darkgray;
  border-left: none;
  border-right: none;
  border-bottom: none;
  
}

.download-video {
  width: 2rem;
  height: 2rem;
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
  /* display: block; */
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
 margin-left: 280px;
 margin-bottom: 100px;
 


}
.video1
{
  margin-top: 23%;
}

.video-1
{
  width: 460px;
  height: 240px;
}
.tv1-img
{
  left: 120vh;
}

.video2
{
  margin-top: 14%;
}
.video-2
{
  
   width:270px;
}
.tv2-img
{
  top: 10vh;
  left: 120vh;
}
.btn-mobile
{
  margin-left: 100px;
  
  
  width: 300px;
  height: 100px;
  border-radius: 20px;
  margin-top: 0px;
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) right center no-repeat ;
   background-size: 3rem;
    background-size: 3rem;
    background-position-x: right;
    
  
}

.default-ltr-cache-1626rqb {
  /* z-index: -1; */
  overflow: hidden;
  /* width: 50%;
  height: 50%; */
  /* max-width: 63%;
  max-height: 47%; */
  /* position: absolute; */
  /* top: 40%; */
  left: 70%;
 width: 550px;
 height: 510px;
 font-size: xx-large;
}
.container4
{
  border: 10px solid darkgray;
  border-left: none;
  border-right: none;
  /* border-bottom: none; */
}
.btn1-div-quest
{
  justify-content: space-between;
  /* margin-left: 10px; */
}
.btn-ques
{
  width: 1190px;
  border-radius: 0px;
}
.card-body-ques
{
  border-radius: 0px;
  left: 13.5%;
}
.call-ul,.ul-1-footer,.ul-2-footer,.ul-3-footer,.ul-4-footer
{
  list-style: none;
}
/* query for ipad */
@media  (max-width:1024px)
 {
  .header-nav
  {
    margin-bottom: 120%;
  }
  .header-txt2
  {
    margin-right: 170px;
  }
  .card-1
  {
    margin-top: 10%;
    height: 630px !important;
  }
  .video-1
  {
    margin-top: 25%;
    width: 310px;
    
    
  }
  .video1
  {
    padding-right: 90px;
  }
  .tv1-img
  {
    left: 45vh;
    width: 430px;
    top: 10vh;
  }
  .card-1-body
  {
    font-size: 40px !important;
  }
  .card1-text1
  {
    font-size: 60px;
  }
  .card1-text2
  {
   font-size: 30px;
  }
  .btn-mobile
  {
    width: 250px;
    
  }
  .img-mobile
  {
    margin-left: 50px;
  }
  .text-download
  {
    margin-left: 30px;
  }
  .card2-text1,.card2-text2
  {
    margin-left: 30px;
  }
  .tv2-img
  {
    left: 42vh;
    top: 5vh;
    width: 450px !important;
    
  }
  .video-2  
  {
    margin-right: 20px;
    
  }
  .video2
  {
    margin-right: 20px;
    left: 20vh;

  }
  .watch-txt
  {
   font-size: 50px ;
  }
  
  .btn-ques
  {
    width: 700px ; 
    
  }
  .card-body-ques
  {
    width: 700px ;
    left: 13%;
   
  }
}


@media (max-width:768px)
 {

  .header-txt-h1
  {
    font-size: 35px !important;
    margin-top: 18%;
    
  }
  .header-txt2
  {
    font-size: 15px;
    
  }
 
  .header-nav
  {
    margin-bottom: 700px;
  }
  .navbar
  {
    height: 90vh;
   
    
  }
  .netflix-logo
  {
    width: 100%;
  }
  
  
  .btn-start
  {
    width: 190px;
    margin-top: 30px;
    margin-left:50px !important;
    
  }
  .input-footer
  {
    
    width: 270px;
    margin-top: 10px; 

  }

  
  .btn-mobile
  {
    width: 250px;
    line-height: 0;
   
  }
  .card-1
  {
   height: 900px !important;
   
  }
 .text-download
 {
  margin-left: 30px;
  
 }
  
  .video1 /*video div*/
  {
     bottom: 20%;
    margin-left: 50px;
   
  }
  .video-1 /*video actual*/
  {
  width: 250px; 
  margin-bottom: 20px;
  }
  .tv1-img
  {
    top: 70vh;
    left: 5vh;
    width: 350px;
  }
  .card1-text1
  {

  }
  
  .card-2{
    height: 900px !important;
  }
  .card2-text1
  {
    font-size: 30px !important;
    margin-left: 10px;
  }
  .card2-text2
  {
    margin-left: 10px;
  }
  .video2 /*video div*/
  {
    
    margin-left:100px ;
    
    
   
  }
  .video-2 /*video actual*/
  {
    width: 220px;
    /* margin-bottom:   55%; */
    top: 20vh;
    
   
    
  }
  .tv2-img
  {
    width: 400px !important;
    left: 10px;
    margin-top: 300px;
    
   
  }
  .header-text
  {
    top: 10%;
  }
  .card4-text1
  {
    font-size: 40px !important;
  }
  .card4-text2
  {
 font-size: 20px !important;
  }
  
 .btn-ques
 {
  width: 300px;
  left: 5%;
 }
 .freq-text
 {
  font-size: 40px !important;
 }
  .collapse
  {
    width: 500px !important; 
  }
  .card-body-ques
  {
    width: 290px ;
   
  }
  
  .btn-start-footer
  {
    margin-top: 20px;
  }
 
   .parent-ul-div
   {
    flex-direction: column;
    
   }
}



